<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="pipe urdf">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="8.60623177437909E-17 0 0.5"
        rpy="0 0 0" />
      <mass
        value="4.79092879672442" />
      <inertia
        ixx="0.454968556960601"
        ixy="-6.07402711978053E-33"
        ixz="0"
        iyy="0.454968556960602"
        iyz="-2.18902283302509E-32"
        izz="0.111448981133802" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pipe urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pipe urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>